.container {
  background-color: var(--primary-background-color);
  height: 100%;
  width: 100%;
  box-sizing: border-box;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.header {
  display: flex;
  align-items: center;
  column-gap: 20px;
  padding-top: 30px;
  padding-left: var(--first-level-menu-indentation);
  padding-bottom: 30px;
  font-size: var(--principal-title-font-size);
  font-weight: var(--principal-title-font-weight);
  user-select: none;
  pointer-events: none;
}

.title {
  letter-spacing: 1.2px;
  font-weight: 300;
}
