.container:hover {
  border-top-color: #fff;
  border-bottom-color: #fff;
}

.container {
  position: relative;
  font: inherit;
  border-width: 0.01px;
  border-style: solid;
  border-color: #ffffff00;
  font-style: normal;
  cursor: pointer;
  font-size: 0.9rem;
  letter-spacing: 0.5px;
  padding: 4px 0;
  width: 100%;
  text-align: left;
  background-color: #ffffff00;
  color: var(--primary-font-color);
}

.container:active {
  text-shadow: 0px 3px 7px rgba(255, 255, 255, 0.705);
}

.title {
  padding-left: var(--first-level-menu-indentation);
  list-style: none;
  width: 90%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-weight: 400;
}

.title::before {
  content: "# ";
  padding: 3px;
}
