.container:hover {
  border-top-color: #fff;
  border-bottom-color: #fff;
}

.container {
  position: relative;
  font: inherit;
  border-width: 0.01px;
  border-style: solid;
  border-color: #ffffff00;
  font-style: normal;
  cursor: pointer;
  font-size: 0.9rem;
  letter-spacing: 0.5px;
  padding: 4px 0;
  width: 100%;
  text-align: left;
  background-color: #ffffff00;
  color: var(--primary-font-color);
}

.container:active {
  text-shadow: 0px 3px 7px rgba(255, 255, 255, 0.705);
}

.title {
  display: flex;
  padding-left: var(--first-level-menu-indentation);
  list-style: none;
  width: 90%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-weight: 400;
}

.title::before {
  content: "# ";
  padding: 3px;
}

.icon {
  all: unset;
  font-size: 12px;
  padding: 4px 10px;
  margin-left: 5px;
  border: outset 1px rgb(218 218 218 / 36%);
  background-color: #ffffff00;
  color: white;
  font-weight: 400;
  display: none;
  box-sizing: border-box;
  user-select: none;
}

.hooverHidden {
  visibility: hidden;
}

.title:hover .icon {
  display: inline-block;
}

.title:focus .icon {
  display: inline-block;
}

.icon:hover {
  box-shadow: 2px -8px 7px rgb(82 80 80 / 42%);
  border-radius: 20%;
  cursor: pointer;
  -webkit-border-radius: 20%;
  -moz-border-radius: 20%;
  -ms-border-radius: 20%;
  -o-border-radius: 20%;
}

.input {
  background-color: #ffffff00;
  color: var(--primary-font-color);
  border: none;
  font-weight: 100;
  padding: 5px 5px;
}

.input:focus {
  outline: none;
}

.titleText {
  padding: 3px 0;
}

.container:hover .hooverHidden {
  visibility: visible;
}
