.container {
  position: relative;
  display: inline-block;
  width: 100%;
}

.input {
  font: inherit;
  font-size: 25px;
  border-width: 0.01px;
  border-style: solid;
  border: none;
  font-style: normal;
  font-size: 0.9rem;
  letter-spacing: 0.5px;
  padding: 4px 0;
  padding-bottom: 15px;
  width: 100%;
  text-align: left;
  background-color: #ffffff00;
  color: var(--primary-font-color);
  border-bottom: #fff 1px solid;
  padding-left: var(--first-level-menu-indentation);
  margin-bottom: 15px;
}

.input:focus-visible {
  outline: none;
}
