.container {
  display: grid;
  grid-template-rows: var(--header-height) 1fr;
  grid-template-columns: 350px 1fr;
  height: 100vh;
}

.header {
  grid-column: 2 / -1;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  background-color: #d9d9d9;
  color: rgb(47, 47, 47);
  padding: 5px;
}

.sidebar {
  grid-column: 1 / 2;
  grid-row: 1 / -1;
  display: flex;
}

.main {
  grid-column: 2 / -1;
  grid-row: 2 / -1;
  box-sizing: border-box;
  overflow-y: auto;
  overflow-x: hidden;
  background-color: rgb(240, 237, 237);
  color: rgb(73, 73, 73);
  position: relative;
}
